<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.retech.couponService.Mapper.CouponMapper">
    <insert id="insertCoupon" parameterType="com.retech.couponService.Model.Coupon">
        INSERT INTO coupons (couponid, couponname, ...)
        VALUES (#{couponid}, #{couponname}, ...)
    </insert>

    <update id="updateCoupon" parameterType="com.retech.couponService.Model.Coupon">
        UPDATE coupons
        SET couponname = #{couponname}, commatch = #{commatch}, type = #{type},
            discount = #{discount}, limit = #{limit}, specialoffer = #{specialoffer},
            cumulation = #{cumulation}, timebegin = #{timebegin}, timeend = #{timeend},
            tot_num = #{tot_num}
        WHERE couponid = #{couponid}
    </update>

    <delete id="deleteCoupon" parameterType="java.lang.String">
        DELETE FROM coupons WHERE couponid = #{couponid}
    </delete>

    <select id="findActiveCoupons" resultType="com.retech.couponService.Model.Coupon">
        SELECT * FROM coupons
        WHERE timebegin &lt; NOW() AND timeend >= NOW()
    </select>

    <select id="findExpiredCoupons" resultType="com.retech.couponService.Model.Coupon">
        SELECT * FROM coupons
        WHERE timeend &lt; NOW()
    </select>

    <select id="findNotYetActiveCoupons" resultType="com.retech.couponService.Model.Coupon">
        SELECT * FROM coupons
        WHERE timebegin > NOW()
    </select>

    <select id="findCouponById" parameterType="java.lang.String" resultType="com.retech.couponService.Model.Coupon">
        SELECT * FROM coupons WHERE couponid = #{couponid}
    </select>


</mapper>